name: Publish package route-engine to npm
on:
  push:
    tags:
      - "v*"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"

      - name: Print Node and npm versions
        run: node -v && npm -v

      # Publish to npm
      - name: Publish to npm (Trusted)
        env:
          NODE_AUTH_TOKEN: ""
          NPM_TOKEN: ""
          NPM_CONFIG_TOKEN: ""
        run: npm publish --access public
